*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.ne-left,.ne-right{
    display: flex;
    gap: 16px;
    height: 133px;
    display: flex;
    gap: 16px;
    height: 133px;
    background-color: white;
    border-radius: 8px;
    padding: 9px;
   /*mm*/
   width: 45%;
}
.ne-first-div-cotain-left-right{
    display: flex;
    justify-content: space-between;
}
.ne-second-div-cotain-left-right{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.ne-similar-container{
    width: 88%;
    margin-top: 56px;
    margin-bottom: 55px;
   
    margin-left: 6%;
    margin-right: 6%;
}
.ne-similar-cors-p{
    height: 55px;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}
.ne-asid-img .p{
    width: 260px;
    height: 20px;
    font-family: Metropolis;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    
       
}
.ne-asid-img{
   /* width: 38%;*/
   width: 60%;
}
.ne-price-bag{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ne-bagg{
    width: 26px;
    padding: 5px;
    background: #F7F5FA;
    height: 31px;
    border-radius: 5px;
}
.ne-price{
    width: 88px;
    height: 20px;
    font-family: Metropolis;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: #FF6652;
}
.ne-img{
    width: 35%;
}
.ne-s{
    margin-left: 3px;
}
